.seller-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.seller-name {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sale-price {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sale-details {
  display: flex;
  gap: 1rem;
}

.sale-card {
  max-width: 100%;
  width: 100px;
  height: auto;
}
