@let card = card$ | async;
@let sales = sales$ | async;

@if (card) {
  <article>
    <app-shiny-card [imgSrc]="card.image" [cardAlt]="card.name"></app-shiny-card>
    <h1>{{card.name}} ({{card.rarity}})</h1>
    <em>{{card.set_details}}</em>
  </article>
  <h2>Offers for this card</h2>
  <div class="sales">
    @for (sale of sales; track sale.fs_id) {
      <app-sale-card [saleInput]="sale">
        <div ngProjectAs="sale-actions">
          <button mat-raised-button>
            <mat-icon aria-hidden="true" aria-label="Icône de panier">shopping_cart</mat-icon>
            Buy
          </button>
        </div>
      </app-sale-card>
    } @empty {
      <p>No offers, maybe yours?</p>
    }
    <div>
      <a mat-flat-button routerLink="/sell/{{card.fs_id}}">
        Sell your card
      </a>
    </div>
  </div>
} @else {
  <p>Card not found!</p>
}
