@let card = card$ | async;
@let sales = sales$ | async;

@if (card) {
  <article>
    <app-shiny-card [imgSrc]="card.image" [cardAlt]="card.name"></app-shiny-card>
    <h1>{{card.name}} ({{card.rarity}})</h1>
    <em>{{card.set_details}}</em>
  </article>
  <h2>Offers for this card</h2>
  <div class="sales">
    @for (sale of sales; track sale.fs_id) {
      @let seller = sale.seller | async;
      <article>
        <mat-card>
          <mat-card-header>
            <div class="seller-header">
              <div class="seller-name">
                <em>{{seller?.name}}</em>
                @if (seller?.certified) {
                  <mat-icon aria-hidden="true" aria-label="Vendeur certifié">check_circle</mat-icon>
                }
              </div>
              <div class="sale-price">
                {{sale.price | currency}}
                <button mat-raised-button>
                  <mat-icon aria-hidden="true" aria-label="Icône de panier">shopping_cart</mat-icon>
                  Buy
                </button>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p>{{sale.description}}</p>
          </mat-card-content>
        </mat-card>
      </article>
    } @empty {
      <p>No offers, maybe yours?</p>
    }
    <div>
      <a mat-flat-button routerLink="/sell/{{card.fs_id}}">
        Sell your card
      </a>
    </div>
  </div>
} @else {
  <p>Card not found!</p>
}
