<div class="container">
    <ng-container *ngFor="let setEntry of groupedCards | keyvalue">
        <h2 class="set-header"></h2>
        <div class="row">
            <ng-container *ngFor="let card of setEntry.value; let i = index">
                <div class="col-md-2.4 col-sm-6 mb-4" style="flex: 0 0 20%; max-width: 20%;">
                    <div class="card h-100" (click)="cardClick.emit(card.card_id)">
                        <img [src]="card.image" class="card-img-top" alt="{{ card.name }}">                        
                    </div>
                </div>
                <!-- Add a clearfix after every 5th item -->
                <div class="w-100" *ngIf="(i + 1) % 5 === 0"></div>
            </ng-container>
        </div>
    </ng-container>
</div>